<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    </style>
</head>



<body>


<div class="container">
  
  <h1>Correspondence list</h1>
  <form th:action="@{/correspondencesBetweenDates}" >
  
  <div class="row">
  
  <div class="col">
    
    <div class="form-group ">
      <label for="exampleFormControlSelect2">Select Company:</label>
    <select class="form-control" th:name="id"  id="exampleFormControlSelect2">
        <option value=""></option>
      <option th:each="company : ${companies}"
        th:value="${company.id}"
        th:text="${company.companyName}"/>
       </select>
    </div>
    
    </div>
    <div class="col">
    <div class="form-group"> <!-- Date input -->
   
        <label class="control-label" for="birthday">Start Date:</label>
        <input  class="form-control" th:name="startDate" type="date" id="birthday" name="birthday" >
        
      </div>
    
    </div>
    <div class="col">
    
    <div class="form-group"> <!-- Date input -->
   
        <label class="control-label" for="birthday">End Date:</label>
        <input  class="form-control" th:name="endDate" type="date" id="birthday" name="birthday">
        
      </div>
    
    </div>
    
    
  </div>
  <div class="col">
    <div class="form-group">
      <button style=margin-top:30px; type="submit" class="btn btn-success">Filter</button>
      
    </div>
    
  </div>
  
    <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      
      <th scope="col"> Archive Number</th>
      <th scope="col"> Institution Name</th>
      <th scope="col"> Description</th>
      <th scope="col"> In/Out</th>
      <th scope="col"> Date</th>
      <th scope="col"> Image</th>
     
      
    </tr>
  </thead>
  <tbody>
    <tr th:each="slip: ${allCorrespondence}" >
      <td th:text="${slip.id}"></td> 
      <td th:text="${slip.archiveNumber}"></td> 
      <td th:text="${slip.institution?.institutionName}"></td>
      <td th:text="${slip.description}"></td> 
      <td th:text="${slip.type.displayValue}"></td> 
      <td th:text="${#temporals.format(slip.date, 'yyyy-MM-dd')}"></td> 
      
      <td> <img th:src="*{'data:image/png;base64,'+{slip.image}}" style="width:200px"></td> 
   <td>   
   
          <a  th:href="@{/deleteCorrespondence/{id}(id=${slip?.id})}" class="btn btn-outline-danger">Delete</a> 
          
   </td> 
      
   </table>
</form>

 </div >
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
</body>

</html>