<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    </style>
</head>

<body>



<div th:if="${error != null}">
     <div class="alert alert-info">[[${error}]]</div>
    </div>
  
  <h1>Invoices list</h1>
  <form th:action="@{/invoicesBetweenDates}" >
  
  <div class="row">
  
  <div class="col">
    
    <div class="form-group ">
      <label for="exampleFormControlSelect2">Select Company:</label>
    <select class="form-control" th:name="id"  id="exampleFormControlSelect2">
        <option value=""></option>
      <option th:each="company : ${companies}"
        th:value="${company.id}"
        th:text="${company.companyName}"/>
       </select>
    </div>
    
    </div>
    <div class="col">
    <div class="form-group"> <!-- Date input -->
   
        <label class="control-label" for="birthday">Start Date:</label>
        <input  class="form-control" th:name="startDate" type="date" id="birthday" name="birthday" >
        
      </div>
    
    </div>
    <div class="col">
    
    <div class="form-group"> <!-- Date input -->
   
        <label class="control-label" for="birthday">End Date:</label>
        <input  class="form-control" th:name="endDate" type="date" id="birthday" name="birthday">
        
      </div>
    
    </div>
    
    
  </div>
  <div class="col">
    <div class="form-group">
      <button style=margin-top:30px; type="submit" class="btn btn-success">Filter</button>
      
    </div>
    
  </div>
  
  <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Id </th>
      
      <th scope="col">Description </th>
      
      <th scope="col">Company </th>
      
      <th scope="col">Completed </th>
      
      <th scope="col">Operations </th>
      
       </tr>
  </thead>
  <tbody>
    <tr th:each="product : ${products}">
      <td th:text="${product.id}"></td>
      <td th:text="${product.description}"></td>
      <td th:text="${product.company?.companyName}"></td>
      <td th:text="${product.completed}"></td> 
      <td> 
    <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col"> Id </th>
      
      <th scope="col"> Description </th>
      
     </tr>
  </thead>
  <tbody>
    <tr th:each="operation : ${product.operations}">
      <td th:text="${operation.id}"></td>
      <td th:text="${operation.description}"></td> 
      <td><a th:href="@{/addNewOperToProd/{id}(id=${product.id})}" class="btn btn-outline-danger">Add</a></td> 
      
      
      
    </tr>
    
  </tbody>
</table>
     
    
      </td>
      <td>
              <a th:href="@{/newCut/{id}(id=${product.id})}" class="btn btn-outline-danger">New Cut</a> <br><br>
              <a th:href="@{/cutsByProduct/{id}(id=${product.id})}" class="btn btn-outline-danger">Cuts</a> <br><br>
              <a th:href="@{/lotsByProduct/{id}(id=${product.id})}" class="btn btn-outline-danger">Lots</a> <br><br>
              <a th:href="@{/updateValues/{id}(id=${product.id})}" class="btn btn-outline-danger">Op. Values</a>
      </td>
    </tr>
 </tbody>
</table>

</form>





 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
</body>

</html>