<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />

</head>
<body>
	<div class="container" >
		<h2 align="center"></h2>

		<div id="container"
			style="width: 1250px; height: 700px; margin: 0 auto"></div>
	</div>
	<hr>
	<div class="container1">
		<h2 align="center"></h2>

		<div id="container1"
			style="width: 1250px; height: 700px; margin: 0 auto"></div>
	</div>
	<hr>
	<div class="container3">
		<h2 align="center"></h2>

		<div id="container3"
			style="width: 650px; height: 300px; margin: 0 auto"></div>
	</div>
	<hr>
	<div class="container2">
		<h2 align="center"></h2>

		<div id="container2"
			style="width: 1250px; height: 700px; margin: 0 auto"></div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script th:inline="javascript">
    $(function(){
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
        	text: [[${fullName}]]
        },
        subtitle: {
            text: 'This Month Productivity'
        },
        xAxis: {
        	
            categories: [[${surveyMap.keySet()}]],
            crosshair: true
        },
        yAxis: {
            min: 0,
            max:1000,
            title: {
                text: 'MKD'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} MKD</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Denars by Day',
            data: [[${surveyMap.values()}]] 
        }]
    });
    });
</script>

<script th:inline="javascript">
    $(function(){
    Highcharts.chart('container1', {
        chart: {
            type: 'column'
        },
        
        subtitle: {
            text: 'Previous Month Productivity'
        },
        xAxis: {
        	
            categories: [[${surveyMap3.keySet()}]],
            crosshair: true
        },
        yAxis: {
            min: 0,
            max:1000,
            title: {
                text: 'MKD'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} MKD</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Denars by Day',
            data: [[${surveyMap3.values()}]] 
        }]
    });
    });
</script>

<script th:inline="javascript">
$(function(){
    Highcharts.chart('container3', {
        chart: {
            type: 'column'
        },
        
        subtitle: {
            text: 'Salaries by month'
        },
        xAxis: {
        	
            categories: [[${surveyMap4.keySet()}]],
            crosshair: true
        },
        yAxis: {
            min: 0,
            max:40000,
            title: {
                text: 'MKD'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} MKD</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Salary by Month',
            data: [[${surveyMap4.values()}]] 
        }]
    });
    });
</script>

<script th:inline="javascript">
$(function(){
    Highcharts.chart('container2', {
        chart: {
            type: 'column'
        },
        
        subtitle: {
            text: 'Salaries by month'
        },
        xAxis: {
        	
            categories: [[${surveyMap2.keySet()}]],
            crosshair: true
        },
        yAxis: {
            min: 0,
            max:40000,
            title: {
                text: 'MKD'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} MKD</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Salary by Month',
            data: [[${surveyMap2.values()}]] 
        }]
    });
    });
</script>

</body>
</html>